{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/index.js' %}" async></script>

<aside id="mySidenav" class="sidenav">
    <a id="close-navbar" onclick="closeNav()"><i class="fa fa-close"></i></a>
    <nav id="musics">
        {% for music in playlist.musics.all %}
        <a class="row thumb" id="{{music.music_id}}" onclick="changeVideo(this.id)">
            <img class="col-3 p-0 m-0 img-fluid" src="{{music.image_url}}" alt="">
            <div class="col p-0 m-0">
                <p class="p-0 m-0 play-title">{{music.title|truncatechars:30}}</p>
            </div>
        </a>
        {% endfor %}
    </nav>
</aside>
<main id="main">
    <a href="/" class="go-home"><i class="fa fa-arrow-left"></i></a>
    <div id="video-wrapper">
        <img id="gif-background" onclick="start()" src="" alt="">
        <div id="contain-video">
            <div id="pointer-events">
                <div style="width: 100%; height: 100%">
                    <iframe id="youtube-music" width="100%" height="100%" title="Youtube Music Video"
                        src="https://www.youtube.com/embed/{{ first_music }}?autoplay=0&mute=0&controls=0&playsinline=1&showinfo=0&rel=0&iv_load_policy=3&modestbranding=true&color=black&enablejsapi=1&widgetid=1&playerapiid=ytplayer">
                    </iframe>
                </div>
            </div>
        </div>
        <div id="container-list">
            <a id="open-nav" onclick="openNav()"><i class="fa fa-bars"></i></a>
        </div>
        <div id="container-btn">
            <div id="container-title">
                <div class="playing">
                    <span class="playing-bar playing-bar1"></span>
                    <span class="playing-bar playing-bar2"></span>
                    <span class="playing-bar playing-bar3"></span>
                </div>
                <p id="video-title">Press any key to start...</p>
            </div>
            <div id="buttons-wrap">
                <a id="play-pause-video" title="play/pause" onclick="playPauseVideo()"><i class="fa fa-play"></i></a>
                <a id="random-video" title="random music" onclick="randomVideo()"><i class="fa fa-random"></i></a>
                <a id="back-video" title="prev music" onclick="prevMusic()"><i class="fa fa-step-backward"></i></a>
                <a id="front-video" title="next music" onclick="nextMusic()"><i class="fa fa-step-forward"></i></a>
                <a id="new-gif" title="new gif" onclick="newGif()"><i class="fa fa-heart"></i></a>
                <a id="original-video" title="original video" onclick="getOriginalVideo()"><i
                        class="fa fa-star"></i></a>
                <div id="volume-wrap">
                    <a id="front-video" title="volume"><i class="fa fa-volume-up"></i></a>
                    <input id="volume" type="range" min="0" max="100" value="50" oninput="setVolume(this.value)">
                </div>
            </div>

        </div>

    </div>
</main>

{% endblock content %}