{% extends 'navbar.html' %}
{% load cache %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/playlist_style.css' %}">

<main id="main" class="container-fluid row m-0 p-0">
    <!-- Modal -->
    <div class="modal fade" id="pass-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Password</h5>
                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form method="post" id="enter-playlist-form">
                    <div class="modal-body p-1">
                        {% csrf_token %}
                        <input name="playlist-password-enter" type="password" class="form-control"
                            id="playlist-pass-enter" required="true" placeholder="Password">
                        <p class="text-danger text-center m-0 p-2" id="enter-form-errors"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary p-2">Ok</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <aside class="col-12 col-md-12 col-lg-3" id="perfil-container">
        <div class="sticky-top" id="menu-wrapper">
            <div class="" style="width: 100%;">
                <img class="img-fluid" id="avatar"
                    src="https://files.sunoresearch.com.br/n/uploads/2022/01/twitter-nft-bored-ape-nova-post.jpg">
            </div>
            <div id="features">
                <a href="{% url 'new-playlist' %}" class="btn">New Playlist</a>
                <button type="button" class="btn">Frase do dia</button>
                <button type="button" class="btn">FeedBacks</button>
            </div>
        </div>
    </aside>

    <article class="col-12 col-md-12 col-lg-9 article">
        <header class="sticky-top" id="header">
            <h3 class="m-0 p-2">Try BBreaks</h3>
            <button class="btn text-white random-playlist"><i class="fa fa-random"></i></button>
        </header>
        <h5 class="text-white mt-5">Lasts Playlists Add</h2>
            <div class="playlists-container row row-cols-5 gx-2">
                {% for playlist in playlists %}
                <div class="card-playlist mb-3">
                    <div class="card" style="border: none;">
                        {% if playlist.privacy %}
                        <div class="playlist-items-container">
                            <a class="like-me like-link" href="">
                                <i class="heart bi bi-heart me-2 ms-2"></i>
                                <span class="likes-counter">{{playlist.likes}}</span>
                            </a>
                            <div class="like-me">
                                <i class="bi bi-eye me-2 ms-2"></i>
                                <span>{{playlist.views}}</span>
                            </div>
                        </div>
                        <a id="{{playlist.slug}}" class="get-playlist-slug playlist-img-container get-random"
                            href="musics/{{playlist.slug}}" data-bs-toggle="modal" data-bs-target="#pass-modal">
                            <img class="card-img-top img-fluid playlist-thumb priv" src="{{playlist.thumb_url}}" />
                            <i class="bi bi-lock-fill priv-icon"></i>
                        </a>
                        <div class="card-body p-0 mt-3">
                            <a id="{{playlist.slug}}" class="get-playlist-slug" href="musics/{{playlist.slug}}"
                                data-bs-toggle="modal" data-bs-target="#pass-modal">
                                <p class="">{{ playlist.title | truncatechars:25 }}</p>
                            </a>
                        </div>
                        {% else %}
                        <div class="playlist-items-container">
                            <a class="like-me like-link" href="">
                                <i class="heart bi bi-heart me-2 ms-2"></i>
                                <span class="likes-counter">{{playlist.likes}}</span>
                            </a>
                            <div class="like-me">
                                <i class="bi bi-eye me-2 ms-2"></i>
                                <span>{{playlist.views}}</span>
                            </div>
                        </div>
                        <a class="get-random" id="{{playlist.slug}}" href="musics/{{playlist.slug}}">
                            <img class="card-img-top img-fluid playlist-thumb" src="{{playlist.thumb_url}}" />
                        </a>
                        <div class="card-body p-0 mt-3">
                            <a href="musics/{{playlist.slug}}">
                                <p class="">{{ playlist.title | truncatechars:25 }}</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% cache 300 most_view and random playlists %}
            <h5 class="text-white mt-5">Most Views Playlists</h5>
            <div class="playlists-container row row-cols-5 gx-2">
                {% for playlist in most_views %}
                <div class="card-playlist mb-3">
                    <div class="card" style="border: none;">
                        {% if playlist.privacy %}
                        <div class="playlist-items-container">
                            <a class="like-me like-link" href="">
                                <i class="heart bi bi-heart me-2 ms-2"></i>
                                <span class="likes-counter">{{playlist.likes}}</span>
                            </a>
                            <div class="like-me">
                                <i class="bi bi-eye me-2 ms-2"></i>
                                <span>{{playlist.views}}</span>
                            </div>
                        </div>
                        <a id="{{playlist.slug}}" class="get-playlist-slug playlist-img-container get-random"
                            href="musics/{{playlist.slug}}" data-bs-toggle="modal" data-bs-target="#pass-modal">
                            <img class="card-img-top img-fluid playlist-thumb priv" src="{{playlist.thumb_url}}" />
                            <i class="bi bi-lock-fill priv-icon"></i>
                        </a>
                        <div class="card-body p-0 mt-3">
                            <a id="{{playlist.slug}}" class="get-playlist-slug" href="musics/{{playlist.slug}}"
                                data-bs-toggle="modal" data-bs-target="#pass-modal">
                                <p class="">{{ playlist.title | truncatechars:25 }}</p>
                            </a>
                        </div>
                        {% else %}
                        <div class="playlist-items-container">
                            <a class="like-me like-link" href="">
                                <i class="heart bi bi-heart me-2 ms-2"></i>
                                <span class="likes-counter">{{playlist.likes}}</span>
                            </a>
                            <div class="like-me">
                                <i class="bi bi-eye me-2 ms-2"></i>
                                <span>{{playlist.views}}</span>
                            </div>
                        </div>
                        <a class="get-random" id="{{playlist.slug}}" href="musics/{{playlist.slug}}">
                            <img class="card-img-top img-fluid playlist-thumb" src="{{playlist.thumb_url}}" />
                        </a>
                        <div class="card-body p-0 mt-3">
                            <a href="musics/{{playlist.slug}}">
                                <p class="">{{ playlist.title | truncatechars:25 }}</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <h5 class="text-white mt-5">Random Playlists</h5>
            <div class="playlists-container row row-cols-5 gx-2">
                {% for playlist in random_playlists %}
                <div class="card-playlist mb-3">
                    <div class="card" style="border: none;">
                        {% if playlist.privacy %}
                        <div class="playlist-items-container">
                            <a class="like-me like-link" href="">
                                <i class="heart bi bi-heart me-2 ms-2"></i>
                                <span class="likes-counter">{{playlist.likes}}</span>
                            </a>
                            <div class="like-me">
                                <i class="bi bi-eye me-2 ms-2"></i>
                                <span>{{playlist.views}}</span>
                            </div>
                        </div>
                        <a id="{{playlist.slug}}" class="get-playlist-slug playlist-img-container get-random"
                            href="musics/{{playlist.slug}}" data-bs-toggle="modal" data-bs-target="#pass-modal">
                            <img class="card-img-top img-fluid playlist-thumb priv" src="{{playlist.thumb_url}}" />
                            <i class="bi bi-lock-fill priv-icon"></i>
                        </a>
                        <div class="card-body p-0 mt-3">
                            <a id="{{playlist.slug}}" class="get-playlist-slug" href="musics/{{playlist.slug}}"
                                data-bs-toggle="modal" data-bs-target="#pass-modal">
                                <p class="">{{ playlist.title | truncatechars:25 }}</p>
                            </a>
                        </div>
                        {% else %}
                        <div class="playlist-items-container">
                            <a class="like-me like-link" href="">
                                <i class="heart bi bi-heart me-2 ms-2"></i>
                                <span class="likes-counter">{{playlist.likes}}</span>
                            </a>
                            <div class="like-me">
                                <i class="bi bi-eye me-2 ms-2"></i>
                                <span>{{playlist.views}}</span>
                            </div>
                        </div>
                        <a class="get-random" id="{{playlist.slug}}" href="musics/{{playlist.slug}}">
                            <img class="card-img-top img-fluid playlist-thumb" src="{{playlist.thumb_url}}" />
                        </a>
                        <div class="card-body p-0 mt-3">
                            <a href="musics/{{playlist.slug}}">
                                <p class="">{{ playlist.title | truncatechars:25 }}</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endcache %}
    </article>
</main>

<!-- Ajax functions to post data without refresh page -->
{% block javascript %}
<script src="{% static 'js/playlist.js' %}"></script>
<script>
    $("#enter-playlist-form").submit(function (e) {
        e.preventDefault();
        let data = new FormData($('#enter-playlist-form').get(0));
        console.log($('#enter-playlist-form').get(0));
        $.ajax({
            type: 'POST',
            url: "pass/" + playlistSlugActive,
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                window.location = response.url
            },
            error: function (response) {
                let errorForm = response.responseJSON.msg;
                let showErrors = document.getElementById("enter-form-errors");
                showErrors.innerText = errorForm;
            }
        })
    })
</script>
{% endblock javascript %}

{% endblock content %}