{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/playlist_style.css' %}">

<header class="" id="header">
    <h3 class="m-0 p-2">Try BBreaks</h3>
</header>

<main id="main" class="container-fluid row g-2 p-0 m-0" style="width: auto;">
    <aside id="mySidenav" class="sidenav p-2">
        <a id="close-navbar" onclick="closePlaylistForm()"><i class="fa fa-close"></i></a>
        <nav id="form-wrapper">
            <form id="playlist-form" class="mt-5" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="InputTitle" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="InputTitle" required>
                </div>

                <div class="mb-3">
                    <label for="authorInput" class="form-label">Author</label>
                    <input name="author" type="text" class="form-control" id="authorInput" required>
                </div>

                <div class="mb-1">
                    <label for="visibility-select" class="form-label">Playlist visibility</label>
                    <select name="playlist-priv" id="visibility-select" class="form-select"
                        aria-label="Paylist visibility" onchange="disableEnablePassInput()">
                        <option value="0">Public</option>
                        <option value="1">Private</option>
                    </select>

                    <div id="pass-wrapper" class="mt-1">
                        <input name="playlist-password" type="password" class="form-control" disabled="true"
                            id="playlist-pass" required="false" placeholder="Playlist Password">
                        <a onclick="seeHidePass()">
                            <i id="pass-icon" class="bi bi-eye-slash-fill"></i>
                        </a>
                    </div>
                    
                </div>

                <div class="input-group mb-3">
                    <input id="link-input" type="text" class="form-control" placeholder="add a link..."
                        aria-label="Add a link">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" id="enter" type="button">Add</button>
                    </div>

                    <div class="col-12" id="links-container">
                        <ul name="music-links" class="list-group">
                        </ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </nav>
    </aside>

    <aside class="col-12 col-md-4 col-lg-3 p-2" id="perfil-container">
        <div class="sticky-top" id="menu-wrapper">
            <div class="">
                <img class="img-fluid" id="avatar"
                    src="https://files.sunoresearch.com.br/n/uploads/2022/01/twitter-nft-bored-ape-nova-post.jpg">
            </div>
            <div class="d-grid gap-2 mt-3" id="features">
                <button type="button" class="btn btn-outline-secondary" onclick="openPlaylistForm()">New
                    Playlist</button>
                <button type="button" class="btn btn-outline-secondary">Frase do dia</button>
                <button type="button" class="btn btn-outline-secondary">FeedBacks</button>
            </div>
        </div>
    </aside>

    <article class="col-12 col-md-8 col-lg-9">
        <div class="row g-2">
            {% for playlist in playlists %}
            <div class="col-6 col-md-4 col-lg-4 card-playlist">
                <div class="card border-none" style="border: none;">
                    <a id="test" href="musics/{{playlist.slug}}">
                        <img class="card-img-top img-fluid playlist-thumb"
                            src="https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"
                            class="playlist-background" />
                    </a>
                    <div class="card-body">
                        <a href="musics/{{playlist.slug}}">
                            <p class="">{{ playlist.title | truncatechars:30 }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</main>
<script src="{% static 'js/playlist.js' %}"></script>
{% endblock content %}