{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/playlist_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/playlist.js' %}"></script>
    <title>Try BBreaks</title>
</head>

<body>
    <header id="header">
        <h3>Try BBreaks</h3>
    </header>
    <main>
        <aside id="perfil-container">
            <div class="items-wrap">
                <img id="avatar" src="https://i.pinimg.com/736x/0e/a2/1d/0ea21da59975004561ffde7fc95371ba.jpg"
                    alt="minha nft braba">
            </div>
        </aside>

        <article id="playlists-container">
            <div class="playlists-wrap">
                {% for playlist in playlists %}
                <div class="playlist">
                    <img src="https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"
                        class="playlist-background" />
                    <a href="musics/{{playlist.slug}}"><p>{{ playlist.title }}</p></a>
                </div>
                {% endfor %}
                <div class="playlist">
                    <img src="https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"
                        class="playlist-background" />
                    <p>Lofi Playlist</p>
                </div>
                <div class="playlist">
                    <img src="https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"
                        class="playlist-background" />
                    <p>Lofi Playlist</p>
                </div>
                <div class="playlist">
                    <img src="https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"
                        class="playlist-background" />
                    <p>Lofi Playlist</p>
                </div>
                <div class="playlist">
                    <img src="https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif"
                        class="playlist-background" />
                    <p>Lofi Playlist</p>
                </div>
            </div>
        </article>
    </main>
</body>

</html>