@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

i {
    font-size: 34px;
    cursor: pointer;
}

#background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('https://wallpaperaccess.com/full/508929.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#background-image h1, h2 {
    color: rgb(255, 255, 255);
    margin-top: 7vh;
}

/* The SideNav form */
.navbar-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidenav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('https://64.media.tumblr.com/f4645376f063b63fc4aee31cc1aff7f4/054d6b5c226061e7-2c/s540x810/99d1247eb080c28dab13f2aa63be91b60bcad0e1.gifv');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav::before {}

.sidenav a,
nav {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: all 1s ease;
}

.sidenav .activate {
    background-color: rgb(32, 18, 160);
}

.sidenav .hover-green:hover {
    transition: 0s;
    color: var(--special-green);
    text-shadow: 0 0 6px var(--special-green);
}

.sidenav #links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav .hover-red {
    font-size: 30px;
    transition: 1s;
    color: #fd0f0f;
}

.sidenav .hover-red:hover {
    transition: 0s;
    text-shadow: 0 0 6px #fd0f0f;
}


.sidenav #close-navbar {
    transition: 1s;
    color: var(--special-green);
    font-size: 36px;
    display: flex;
    padding: 0;
    margin: 0;
}

/* sidenav form  */

#playlist-form {
    cursor: auto;
}

#playlist-form #links-container {
    max-height: 150px;
    overflow-y: auto;
}

#playlist-form .list-group-item {
    overflow-x: auto;
}

#playlist-form #playlist-pass {
    opacity: 20%;
    transition: all ease .5s;
}

#playlist-form .priv-pass {
    display: flex;
    align-items: center;
}

#playlist-form #pass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-errors {
    white-space: pre-wrap;
    color: red;
    font-size: 11px;
}

.btn-submit {
    width: 100%;
    height: 70px;
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-submit:hover {
    width: 100%;
    height: 70px;
    background-color: rgb(230, 230, 230);
    color: black;
}