@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --special-green: #2bfd0f;
    --bg-color: rgb(20, 20, 20);
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--bg-color);
}

/* all icons */
.bi {
    font-size: 1.8rem;
    color: var(--special-green);
}

/* My modal */
#pass-modal .modal-content {
    background-color: rgb(10, 10, 10);
    border-radius: 0;
    max-width: 100%;
}

#header {
    display: flex;
    opacity: .8;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(10, 10, 10);
    margin-bottom: 25px;
    margin-left: -12px;
    margin-right: -12px;
    height: 10vh;
}

#header .btn i {
    font-size: 30px;
    transition: 0s;
}

#header .btn i:hover {
    color: var(--special-green);
    transition: all ease .7s;
}

#perfil-container {
    z-index: 1;
    padding: 0;
    background-color: black;
}

#perfil-container #menu-wrapper #avatar {
    object-fit: cover;
    object-position: center;
    min-height: 350px;
    max-height: 400px;
    width: 100%;
}

#perfil-container .btn {
    width: 100%;
    height: 70px;
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#perfil-container .btn:hover {
    width: 100%;
    height: 70px;
    background-color: rgb(230, 230, 230);
    color: black;
}

#perfil-container .btn:focus {
    width: 100%;
    height: 70px;
    background-color: rgb(230, 230, 230);
    color: black;
}

.playlist-thumb {
    border: 2px solid var(--special-green);
    border-radius: 5px;
    transition: all 1s ease;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.playlist-thumb:hover {
    transition: 0s;
    border: transparent;
}

.card {
    background-color: rgb(35, 30, 30);
    height: 100%;
}

.card:hover .playlist-thumb {
    opacity: 0.7;
    transition: all ease .5s;
}

.card-body {
    display: flex;
    align-items: center;
}

.card-body a {
    text-decoration: none;
    color: white;
    font-size: 9.5px;
    text-align: center;
    width: 100%;
}

.card-body p {
    margin: 0;
}

.card-body a:after {
    content: '';
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    display: block;
    background-color: var(--special-green);
    transition: all .6s ease;

}

.card-body a:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.playlist-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priv-icon {
    color: var(--special-green);
    position: absolute;
    font-size: 40px;
}

.playlists-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 260px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.playlists-container::-webkit-scrollbar {
    display: none;
}

.playlist-items-container {
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
}

.like-me {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 70px;
    white-space: normal;
}

.like-me .bi-eye {
    color: #d50ffd;
    font-size: 25px;
    margin-right: 2px;
}

.like-me .bi-eye:hover {
    color: var(--special-green);
    transition: all ease .7s;
}

.like-me span {
    margin: 0;
    color: white;
}

.like-me .heart {
    color: #fd0f0f;
    font-size: 25px;
    margin-right: 2px;
}

.like-me .heart:hover {
    color: var(--special-green);
    transition: all ease .7s;
}

@media screen and (max-width: 650px) {
    .card-playlist {
        width: 43vw;
    }

    article h5 {
        font-size: 15px;
    }
}

@media screen and (min-width: 650px) and (max-width: 1200px) {
    .card-playlist {
        width: 24vw;
    }

    article h5 {
        font-size: 15px;
    }
}