@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    --special-green: #2bfd0f;
    --bg-color: rgb(15, 15, 15);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--bg-color);
}

/* all icons */
.bi {
    font-size: 1.8rem;
    color: var(--special-green);
}

#header {
    color: white;
}

#perfil-container {
    z-index: 1;
}

#perfil-container #menu-wrapper {
    border: 1px solid var(--special-green);
}

#perfil-container #menu-wrapper #avatar {
    object-fit: cover;
    object-position: center;
    height: 40vh;
    border-radius: 15px;
    width: 100%;
}

.playlist-thumb {
    border: 1px solid var(--special-green);
    transition: all 1s ease;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.playlist-thumb:hover {
    transition: 0s;
    border: none;
}

.card {
    background-color: transparent;
    height: auto;
}

.card:hover {
    opacity: 0.7;
    transition: all ease .5s;
}

.card-body a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    text-align: center;
}

.card-body a p {
    margin: 0;
}

.card-body a:after {
    content: '';
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    display: block;
    background-color: var(--special-green);
    transition: all .6s ease;

}

.card-body a:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.card-playlist {
    width: 185px;
}

/* The SideNav form */

.sidenav {
    visibility: hidden;
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a,
nav {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: green;
    display: block;
    transition: all 1s ease;
    cursor: pointer;
    border-bottom: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidenav .activate {
    background-color: rgb(32, 18, 160);
}

.sidenav .hover-green:hover {
    transition: 0s;
    color: var(--special-green);
    text-shadow: 0 0 6px var(--special-green);
}

.sidenav #links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav .hover-red {
    font-size: 30px;
    transition: 1s;
    color: #fd0f0f;
}

.sidenav .hover-red:hover {
    transition: 0s;
    text-shadow: 0 0 6px #fd0f0f;
}


.sidenav #close-navbar {
    position: absolute;
    transition: 1s;
    color: var(--special-green);
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* sidenav form  */

#playlist-form {
    cursor: auto;
}

#playlist-form #links-container {
    max-height: 150px;
    overflow-y: auto;
}

#playlist-form .list-group-item {
    overflow-x: auto;
}

#playlist-form #playlist-pass {
    opacity: 20%;
    transition: all ease .5s;
}

#playlist-form #pass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.priv {
    opacity: .7;
}

#test {
    color: black;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 46%;
    font-size: 40px;
}

#form-errors {
    white-space: pre-wrap;
    color: red;
    font-size: 11px;
}

.playlists-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    height: 210px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.playlists-container::-webkit-scrollbar {
    display: none;
}
