@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(15, 15, 15);
}

#header {
    color: white;
}

#avatar {
    object-fit: cover;
    object-position: center;
    height: 40vh;
    border-radius: 15px;
}

.card {
    background-color: transparent;
    /* max-height: 200px; */
    height: auto;
}

.card:hover {
    opacity: 0.7;
    transform: scale(0.98);
    transition: all ease .5s;
}

.playlist-thumb {
    border: 1px solid white;
}

.card-body a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    text-align: justify;
} 