@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --bg-color: black;
}

#gif-background {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;
    transition: ease 1s;
}

#video-wrapper {
    display: flex;
    align-items: center;
    z-index: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: var(--bg-color);
}


#contain-video::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

#contain-video {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pointer-events {
    padding: 0;
    margin: 0;
    pointer-events: none;
    user-select: none;
    z-index: -1;
    width: 100vw;
    height: 200vw;
}

#youtube-music {
    border: none;
}

#container-list {
    display: flex;
    position: fixed;
    top: 2vh;
    right: 4vh;
    transition: all 1s ease;

}

#container-list .fa {
    margin: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;

}

#container-list .fa:hover {
    transition: 0s;
    color: #2bfd0f;
    text-shadow: 0 0 25px #2bfd0f;
}

#container-btn {
    position: fixed;
    bottom: 8vh;
    padding: 10px;
}

#container-btn .fa {
    margin: 8px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

#container-btn .fa:hover {
    transition: 0s;
    color: #2bfd0f;
    text-shadow: 0 0 25px #2bfd0f;
}

#buttons-wrap {
    display: flex;
}

#volume-wrap {
    display: flex;
}

#container-title {
    display: flex;
    color: white;
    font-size: small;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

/* The side navigation menu, reference: https://www.w3schools.com/howto/howto_js_off-canvas.asp */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 70%;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: green;
    display: block;
    transition: all 1s ease;
    cursor: pointer;
    border-bottom: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.sidenav .activate {
    background-color: rgb(32, 18, 160);
}

.sidenav a:hover {
    transition: 0s;
    color: #2bfd0f;
    text-shadow: 0 0 12px #2bfd0f;
}

.sidenav #close-navbar {
    position: absolute;
    transition: 1s;
    color: #2bfd0f;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* Volume input css style from this reference https://www.cssportal.com/style-input-range/ */

input[type=range] {
    height: 25px;
    margin: 8px 0;
    width: 100%;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px var(--bg-color);
    background: #036b52;
    border-radius: 1px;
    border: 0px solid var(--bg-color);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px var(--bg-color);
    border: 1px solid #036b52;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #036b52;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #036b52;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid #036b52;
    height: 14px;
    width: 14px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* Music beat animation */
.playing {
    background: transparent;
    width: 50px;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem;
    box-sizing: border-box;
}

.playing-bar {
    display: inline-block;
    background: white;
    width: 40%;
    height: 100%;
    animation: up-and-down 2.3s ease infinite alternate;
}

.playing-bar1 {
    height: 60%;
    background-color: #2bfd0f;
}

.playing-bar2 {
    height: 30%;
    background-color: aqua;
    animation-delay: -2.2s;
}

.playing-bar3 {
    background-color: blueviolet;
    height: 75%;
    animation-delay: -3.7s;
}

@keyframes up-and-down {
    10% {
        height: 30%;
    }

    30% {
        height: 100%;
    }

    60% {
        height: 50%;
    }

    80% {
        height: 75%;
    }

    100% {
        height: 60%;
    }
}

/* Responsive ajusts */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    #container-title {
        font-size: 10px;
    }

    .playing {
        width: 70px;
        height: 2.8rem;
    }
}